@{
    ViewData["Title"] = "Smart raccoon";
}

<div class="text-center">
    <h1 class="display-4">Вітаємо на Smart raccoon!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <div>
        <a class="btn btn-primary" href="@Url.Action("Index", "Orders")">Переглянути замовлення</a>
        <a class="btn btn-secondary" href="@Url.Action("Index", "Topics")">Переглянути теми</a>
    </div>
</div>
