@model TranslationsWebApplication.Models.Order

@{
    ViewData["Title"] = "Create order";
}

<style>
    @@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');

    .mochiy-pop-one-regular {
        font-family: "Mochiy Pop One", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    h1, label, input, select, .btn, a {
        font-size: 20px;
    }

    input, select, .btn {  
        height: 45px;
        padding: 10px;
    }

    .form-group {
        margin-bottom: 20px;
    }

    .row {
        margin-bottom: 25px;
    }

    .btn-create {
        background-color: #4A0D5B;
        color: white;
        border: none;
        transition: background-color 0.3s, color 0.3s; 
    }

    .btn-create:hover {
        background-color: gray;
        color: black; 
    }

    html {
        position: relative;
        min-height: 100%;
    }

    body {
        margin-bottom: 60px;
        background: url('../css/ffonn3.jpg') no-repeat center center;
        background-size: cover;
        background-position: center;
        min-height: 100vh;
    }

</style>

<h1 class="mochiy-pop-one-regular" style="color: #4A0D5B; font-size: 40px;">Create order</h1>

<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="OrderName" class="control-label"></label>
                        <input asp-for="OrderName" class="form-control" />
                        <span asp-validation-for="OrderName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="TypeId" class="control-label">Type</label>
                        <select asp-for="TypeId" class="form-control" asp-items="ViewBag.TypeId"></select>
                        <span asp-validation-for="TypeId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="TopicId" class="control-label">Topic</label>
                        <select asp-for="TopicId" class="form-control" asp-items="ViewBag.TopicId"></select>
                        <span asp-validation-for="TopicId" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="OriginalLanguageId" class="control-label">Original Language</label>
                        <select asp-for="OriginalLanguageId" class="form-control" asp-items="ViewBag.OriginalLanguageId"></select>
                        <span asp-validation-for="OriginalLanguageId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="TranslationLanguageId" class="control-label">Translation Language</label>
                        <select asp-for="TranslationLanguageId" class="form-control" asp-items="ViewBag.TranslationLanguageId"></select>
                        <span asp-validation-for="TranslationLanguageId" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
              
                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="OrderPrice" class="control-label"></label>
                        <input asp-for="OrderPrice" class="form-control" />
                        <span asp-validation-for="OrderPrice" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="OrderSubmissionDate" class="control-label"></label>
                        <input asp-for="OrderSubmissionDate" class="form-control" />
                        <span asp-validation-for="OrderSubmissionDate" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
            <div class="form-group">
                <label for="fileUpload" class="control-label">File Upload</label>
                <input type="file" id="fileUpload" name="fileUpload" class="form-control" />
            </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-create" />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-create">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
